


#loader {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
}

#content {
    overflow: auto;
}

#info-box {
    position: absolute;
    text-align: center;
    background: #e0e0e0;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 15px 15px 15px #888888;
    display: none;
    width: 400px;
}

body {
    width: 800px;
}

.box-viewed {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #999;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 8px #888888;
    float: left;
}

.box-list {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #999;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px #888888;
    cursor:pointer;
}

.hoverable:hover {
    background-color: lightblue;    
    box-shadow: 10px 10px 10px #888888;
}
